.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    padding: 18px 70px;
}

.rating__item {
    font-size: 100px;
    color:  #dcdcdc;
    cursor: pointer;
    transition: .2s;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item
{
    color: #989898;
}