.footer {
    padding: 79px 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .footer__copyright {
   padding: 0;
   margin: 0;
  }
  .footer__text {
    padding: 0;
    margin: 0;
   }