.scrollbars {
  padding: 18px 70px;
}

.btn-secondary__scroll {
    margin-left: 5px;
    width: 150px;
}

.scrollbars__input-container {
    margin-left: 20px;
    
    
}

.scrollbars__input {
    border-radius: 10px;
   
    
}

.btn-container {
    margin-top: 20px;
}